<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Privacy Suite</h1>
    <p>This is the place for you to manage all of your privacy health related issues. We manage your privacy policies and your organization's privacy procedures. We manage all of your breach information, your access requests, and lockbox requests. We make it easy for you to solve your privacy problems.</p>
    <p class="nav-item"><%= link_to "Learn More", pages_contact_path, :class => "btn btn-primary btn-md" %></p>
  </div>
</div>
